.card
  .card-header
    | Food Preferences
  ul.list-group.list-group-flush
    li.list-group-item Vegetarian
    li.list-group-item Vegan
    li.list-group-item Meat
    li.list-group-item Dair
.card
  .card-header
    | Food Type
  ul.list-group.list-group-flush
    li.list-group-item Curry
    li.list-group-item Dessert
    li.list-group-item Sides
    li.list-group-item Breakfast
.card
  .card-header
    | Cuisine
  ul.list-group.list-group-flush
    li.list-group-item Italian
    li.list-group-item Mexican
    li.list-group-item Indian
    li.list-group-item Chinese
