.card.mb-3.text-white.bg-primary
  .card-header
    | Food Preferences
  ul.list-group.list-group-flush
    li.list-group-item 
      a(href="/recipes?preference=Vegetarian") Vegetarian
    li.list-group-item 
      a(href="/recipes?preference=Vegan") Vegan
    li.list-group-item
      a(href="/recipes?preference=Meat") Meat
    li.list-group-item
      a(href="/recipes?preference=Dairy") Dairy

.card.mb-3.text-white.bg-secondary
  .card-header
    | Food Type
  ul.list-group.list-group-flush
    li.list-group-item
      a(href="/recipes?type=Curry") Curry
    li.list-group-item
      a(href="/recipes?type=Dessert") Dessert
    li.list-group-item
      a(href="/recipes?type=Sides") Sides
    li.list-group-item
      a(href="/recipes?type=Breakfast") Breakfast

.card.mb-3.text-white.bg-success
  .card-header
    | Cuisine
  ul.list-group.list-group-flush
    li.list-group-item
      a(href="/recipes?cuisine=Italian") Italian
    li.list-group-item
      a(href="/recipes?cuisine=Mexican") Mexican
    li.list-group-item
      a(href="/recipes?cuisine=Indian") Indian
    li.list-group-item
      a(href="/recipes?cuisine=Chinese") Chinese
